<div class="min-w-screen min-h-screen bg-white-900 flex items-center justify-center px-5 py-5">
    <div id="scpart" class=" text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
        <div class="md:flex w-full">
            <div id="picture" class="hidden md:block w-1/2  py-10 px-10">
                <img id="img" src="https://img.icons8.com/ios-glyphs/120/ffffff/chat.png"/>
            </div>

            <div id="container" class=" bg-white-100 py-6 flex flex-col justify-center sm:py-12 sm:px-10 max-w-5xl mx-auto" >

   
                <div class="text-center pb-12">
            
                    <h2 id="h2" class="text-base font-bold ">
                        Frequently asked questions.
                    </h2>
            
                    <h1 class="font-bold text-base font-heading text-white">
                        Here you can read frequently asked questions, if you haven't found an answer to something, write to us at support
                    </h1>
            
                </div>

                <div id="accordation">

                    <mat-accordion >
            
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title class="text-center">
                                    Advantage of being Admin
                                </mat-panel-title>
                                <mat-panel-description>
                
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Advantage of being user
                                </mat-panel-title>
                                <mat-panel-description>
                
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Advantage of being user
                                </mat-panel-title>
                                <mat-panel-description>
                
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
    
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Advantage of being user
                                </mat-panel-title>
                                <mat-panel-description>
                
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>I'm visible because I am open</p>
                        </mat-expansion-panel>
                
                    </mat-accordion>
                </div>
                    
            </div>
            
        </div>
    </div>
</div>
