

#h2 {
    color: #512ca0;
    font-size: 40px;
}

#picture{
  justify-content: center; align-items: center;
}

#img {
    margin-right: 35%;
    height: 432px;
    width: 337px;
}

@media screen and (max-width: 639px) {
    #accordation {
      margin-bottom: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }
}

@media screen and (max-width: 1100px) {
    #container {
      margin-top: 60px;
    }
}

#scpart {
    background-color: white;
    border-top: #512ca0 solid 20px;
    padding: 20px;
}

#background{
    background-image: url("src/assets/images/create-quiz-back.svg");
    background-size: cover;
}