<div id="background"> 
    <div id="container" class="min-w-screen min-h-screen bg-white-900 flex items-center justify-center px-5 py-5">
        <div id="scpart" class=" text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden" style="max-width:1000px">
            <div class="md:flex w-full">
    
                <div [@animateLeft]="visibility" id="picture" class="hidden md:block py-10 px-10">
                    <img id="svg" src="../assets/images/q.svg" style="max-width: 150%; height: 100%; margin-left: -30px;">
                  </div>
    
                <div id="container" class=" bg-white-100 py-6 flex flex-col justify-center sm:py-12 sm:px-10 max-w-5xl mx-auto" >
    
       
                    <div class=" text-center pb-12" [@animateLeft]="visibility">
                
                        <h2 id="h2" class="text-base font-bold ">
                            Frequently asked questions.
                        </h2>
                
                        <h1 class="font-bold text-base font-heading text-black">
                            Here you can read frequently asked questions, if you haven't found an answer to something, write to us at support
                        </h1>
                
                    </div>
    
                    <div id="accordation">
    
                        <mat-accordion >
                
                            <mat-expansion-panel [@animateLeft1Card]="visibility" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="text-center">
                                        Advantage of being Admin
                                    </mat-panel-title>
                                    <mat-panel-description>
                    
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>Admin can create quizzes, share it, manage it.</p>
                            </mat-expansion-panel>
                        
                            <mat-expansion-panel [@animateLeft2Card]="visibility" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Advantage of being user
                                    </mat-panel-title>
                                    <mat-panel-description>
                    
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p> User can take quizzes and view their results. </p>
                            </mat-expansion-panel>
                        
                            <mat-expansion-panel [@animateLeft3Card]="visibility" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Why guest? 
                                    </mat-panel-title>
                                    <mat-panel-description>
                    
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>As guest you can take quizzes, but you can't see your results, you need to add email in your profile.</p>
                            </mat-expansion-panel>
        
                            <mat-expansion-panel [@animateLeft4Card]="visibility" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        How to create quiz?
                                    </mat-panel-title>
                                    <mat-panel-description>
                    
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p> You can create quiz only when you register as admin. </p>
                            </mat-expansion-panel>
    
                            <mat-expansion-panel [@animateLeft5Card]="visibility"(opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        How quiz works?
                                    </mat-panel-title>
                                    <mat-panel-description>
                    
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <p> Every good answer gives you 10 points, wrong 0 points, either you choose from the answer you have to choose from or you write the answer in to the answer field. </p>
                            </mat-expansion-panel>
                    
                        </mat-accordion>
                    </div>
                        
                </div>
                
            </div>
        </div>
    </div>

</div>

