
<div id="background">

    <div id="container" class="container mx-auto my-60 rounded-3xl shadow-lg sm:max-w-6xl sm:mx-auto">
        <div>
    
            <div class="bg-white relative rounded-lg w-5/6 md:w-5/6 lg:w-4/6 xl:w-3/6 mx-auto">
                <div class="flex justify-center">
                        <img src="../assets/images/0book.svg" alt="" class="rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-xl border-4 border-white transition duration-200 transform hover:scale-110">
                </div>
                
                <div class="mt-16">
                    <h1 class="font-bold text-center text-3xl text-gray-900"> These users are included in: {{classNumber}}</h1>
    
                    <mat-divider> </mat-divider>
        
                            <ng-template mat-tab-label>
        
                                <img src="https://img.icons8.com/ios-filled/26/null/repository.png"/> Created quizes
        
                            </ng-template>
        
                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                Users in this class:
                            </div>
    
                            <div *ngIf="schoolUsers.length == 0" class="font-bold text-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon" src="https://img.icons8.com/pastel-glyph/64/808080/groups--v3.png"/>
                                No users in this class.
                            </div>
    
                            <div  class="justify-center mx-auto ">
                                <mat-spinner *ngIf="contentLoaded" id="spinner"> </mat-spinner>
                            </div>
    
                        <div *ngIf="schoolUsers.length > 0"> 
        
                            <div #loadedContent id="quizCard" *ngFor="let user of schoolUsers" > 
        
                                <h1 class="font-bold text-center text-3xl text-gray-900"> {{user.username}} </h1> 
                                <h3 id="date" class="text-center text-gray-400 font-medium"> {{user.email}} </h3>

                                <div id="button-holder">
                                        
                                    <button id="button" type="button" 
                                    class="py-2 mb-2 mr-2 px-8 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                        Edit school
                                    </button> 

                                    <button id="button" type="button" 
                                    class="py-2 mb-2 px-8 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                        Edit class
                                    </button> 
    
                                </div>
    
                            </div>
                        </div>                  
                </div>
            </div>
    
        </div>
    </div>
    
</div>
