
#container {
    border-top: 20px solid;
    border-color: #502ca0;
    position: relative;
    padding-bottom: 20px;
    background-color: white;
}

@media screen and (max-width: 1152px) {
    #container {
        border-radius: 0;
    }
}

#card {
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    padding-right: 15px;
}

.correct-border{
    border: 2px solid rgba(0, 128, 0, 0.836);
}

.incorrect-border{
    border: 2px solid rgba(206, 4, 4, 0.836);
}

#indicator {
    float: right;
}

@media screen and (max-width: 640px) {
    #indicator {
        margin-left: 10px;
    }
}

#score{
    background-color: #502ca0 ;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 8px;
}

@media screen and (max-width: 640px) {
    #score {
        margin-left: 30%;
        margin-right: 30%;
    }
}

#spinner {
    margin-left: auto;
    margin-right: auto;
}

#background {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='600' preserveAspectRatio='none' viewBox='0 0 2000 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2018%26quot%3b)' fill='none'%3e%3cpath d='M1569.57 551.3L1580.72 557.6 1577.02 569.86 1588.17 576.16 1584.47 588.42 1595.62 594.72 1591.92 606.98M1562.15 554.28L1573.3 560.58 1569.6 572.84 1580.75 579.14 1577.05 591.4 1588.2 597.7 1584.5 609.96M1554.72 557.26L1565.87 563.56 1562.17 575.82 1573.32 582.12 1569.62 594.38 1580.77 600.68 1577.07 612.94' stroke='rgba(30%2c 7%2c 86%2c 0.53)' stroke-width='2.82' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='396' height='396' clip-path='url(%26quot%3b%23SvgjsClipPath2019%26quot%3b)' x='1519.02' y='-32.44' fill='url(%23SvgjsPattern2020)' transform='rotate(320.9%2c 1717.02%2c 165.56)'%3e%3c/rect%3e%3ccircle r='50' cx='1935.28' cy='530.39' stroke='rgba(30%2c 7%2c 86%2c 0.53)' stroke-width='1'%3e%3c/circle%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath2021%26quot%3b)' x='743.18' y='-35.51' fill='url(%23SvgjsPattern2022)' transform='rotate(302.95%2c 881.18%2c 102.49)'%3e%3c/rect%3e%3cpath d='M834.05 435.45a5.6 5.6 0 1 0 5.06 10 5.6 5.6 0 1 0-5.06-10zM841.28 449.73a5.6 5.6 0 1 0 5.05 9.99 5.6 5.6 0 1 0-5.05-9.99zM848.5 464.01a5.6 5.6 0 1 0 5.06 9.99 5.6 5.6 0 1 0-5.06-9.99zM855.73 478.28a5.6 5.6 0 1 0 5.05 9.99 5.6 5.6 0 1 0-5.05-9.99z' fill='rgba(36%2c 46%2c 151%2c 0.39)'%3e%3c/path%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath2023%26quot%3b)' x='1163.12' y='391.29' fill='url(%23SvgjsPattern2024)' transform='rotate(246.48%2c 1229.12%2c 457.29)'%3e%3c/rect%3e%3crect width='382.2' height='382.2' clip-path='url(%26quot%3b%23SvgjsClipPath2025%26quot%3b)' x='-39.45' y='-172.71' fill='url(%23SvgjsPattern2026)' transform='rotate(72.71%2c 151.65%2c 18.39)'%3e%3c/rect%3e%3cpath d='M1506.86 194.58L1499.65 183.99 1508.4 174.64 1501.19 164.05 1509.93 154.7 1502.72 144.11 1511.47 134.75M1514.84 195.19L1507.63 184.61 1516.37 175.25 1509.17 164.67 1517.91 155.31 1510.7 144.72 1519.44 135.37M1522.82 195.81L1515.61 185.22 1524.35 175.86 1517.14 165.28 1525.89 155.92 1518.68 145.34 1527.42 135.98' stroke='rgba(148%2c 18%2c 151%2c 0.2)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M616.24 54.1L627.07 47.27 636.11 56.34 646.94 49.51 655.98 58.58 666.82 51.75 675.86 60.82' stroke='rgba(30%2c 7%2c 86%2c 0.53)' stroke-width='2.81' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M663.68 188.45 L764.77 195.84L771.2875032624667 135.08249673753326z' stroke='rgba(36%2c 46%2c 151%2c 0.39)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3ccircle r='72.71438547066056' cx='798.04' cy='597.63' stroke='rgba(148%2c 18%2c 151%2c 0.2)' stroke-width='1' stroke-dasharray='2%2c 2'%3e%3c/circle%3e%3ccircle r='86.1850263199599' cx='575.72' cy='440.83' fill='rgba(36%2c 46%2c 151%2c 0.39)'%3e%3c/circle%3e%3crect width='239.52' height='239.52' clip-path='url(%26quot%3b%23SvgjsClipPath2027%26quot%3b)' x='144.61' y='456.86' fill='url(%23SvgjsPattern2028)' transform='rotate(232.7%2c 264.37%2c 576.62)'%3e%3c/rect%3e%3crect width='366.52' height='366.52' clip-path='url(%26quot%3b%23SvgjsClipPath2029%26quot%3b)' x='1410.31' y='-57.48' fill='url(%23SvgjsPattern2030)' transform='rotate(195.01%2c 1593.57%2c 125.78)'%3e%3c/rect%3e%3cpath d='M1842.23 169.74 L1850.6499999999999 23.339999999999996L1752.7773144536989 2.8773144536988724z' fill='rgba(148%2c 18%2c 151%2c 0.2)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2018'%3e%3crect width='2000' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2020'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(36%2c 46%2c 151%2c 0.39)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2019'%3e%3ccircle r='99' cx='1717.02' cy='165.56'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2022'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(148%2c 18%2c 151%2c 0.2)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2021'%3e%3ccircle r='69' cx='881.18' cy='102.49'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern2024'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(148%2c 18%2c 151%2c 0.2)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2023'%3e%3ccircle r='33' cx='1229.12' cy='457.29'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='9.1' height='9.1' patternUnits='userSpaceOnUse' id='SvgjsPattern2026'%3e%3cpath d='M4.55 1L4.55 8.1M1 4.55L8.1 4.55' stroke='rgba(30%2c 7%2c 86%2c 0.53)' fill='none' stroke-width='2.93'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2025'%3e%3ccircle r='95.55' cx='151.65' cy='18.39'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='239.52' height='9.98' patternUnits='userSpaceOnUse' id='SvgjsPattern2028'%3e%3crect width='239.52' height='4.99' x='0' y='0' fill='rgba(30%2c 7%2c 86%2c 0.53)'%3e%3c/rect%3e%3crect width='239.52' height='4.99' x='0' y='4.99' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2027'%3e%3ccircle r='59.88' cx='264.37' cy='576.62'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='366.52' height='10.78' patternUnits='userSpaceOnUse' id='SvgjsPattern2030'%3e%3crect width='366.52' height='5.39' x='0' y='0' fill='rgba(148%2c 18%2c 151%2c 0.2)'%3e%3c/rect%3e%3crect width='366.52' height='5.39' x='0' y='5.39' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath2029'%3e%3ccircle r='91.63' cx='1593.57' cy='125.78'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

