
#container {
    border-top: 20px solid;
    border-color: #502ca0;
    position: relative;
    padding-bottom: 20px;
}

@media screen and (max-width: 1152px) {
    #container {
        border-radius: 0;
    }
}

#card {
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    padding-right: 15px;
}

.correct-border{
    border: 2px solid rgba(0, 128, 0, 0.836);
}

.incorrect-border{
    border: 2px solid rgba(206, 4, 4, 0.836);
}

#indicator {
    float: right;
}

@media screen and (max-width: 640px) {
    #indicator {
        margin-left: 10px;
    }
}

#score{
    background-color: #502ca0 ;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 8px;
}

@media screen and (max-width: 640px) {
    #score {
        margin-left: 30%;
        margin-right: 30%;
    }
}

#spinner {
    margin-left: auto;
    margin-right: auto;
}


