#container {
    border-top: 20px solid;
    border-color: #502ca0;
}

@media screen and (max-width: 1152px) {
    #container { 
        border-radius: 0px;
    }
}

#description {
    font-size: medium;
}

#desc{
    font-style: italic;
    font-size: medium;
}

#service-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin: 7px;
}

#button:hover {
    color: white;
    background-color: #502ca0;
}

#button:disabled {
    background-color: #512ca077;
    color: rgba(239, 227, 227, 0.796);
    border-color: #5c78987d;
    border-width: 0px;
}

#button-send {
    width: 55px;
    height: 58px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin: 7px;
}

#button-send:hover {
    color: white;
    background-color: #502ca0;
}

#button-send2 {
    width: 55px;
    height: 51px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin: 7px;
}

#button-send2:hover {
    color: white;
    background-color: #502ca0;
}

#quizName {
    font-size: xx-large;
    font-weight: bold;
}

#formField { 
    width: 320px;
}


@media screen and (max-width: 703px) {
    #formField { 
        width: 220px;
    }
}

@media screen and (max-width: 420px) {
    #formField { 
        width: 170px;
    }
}

@media screen and (max-width: 553px) {
    #formField { 
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 362px) {
    #button { 
        min-height: 58px;
    }
}


#score{
    background-color: #502ca0 ;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 4px;
    padding: 10px;
}

@media screen and (max-width: 662px) {
    #score { 
        margin-left: 20%;
        margin-right: 20%;
    }
}


#background{
    background-image: url("src/assets/images/create-quiz-back.svg");
    background-size: cover;
}

#gif{
    width: 50px;
    margin: auto;
    margin-bottom: 12px;
}

#button-results {
    width: 212px;
    height: 51px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin: 7px;
}

#button-results:hover {
    color: white;
    background-color: #502ca0;
}

@media screen and (max-width: 662px) {
    #button-results { 
        width: 173px;
        height: 51px;
    }
}