<div *ngIf="quizStart" class="flex items-center justify-center h-screen ">

  <div id="container" class="bg-white font-semibold text-center rounded-3xl shadow-lg p-10 w-4/6 ">
    <h1 class="text-lg text-gray-700"> Welcome in {{id}}  </h1>
      <h1 id="description" class="text-gray-700"  > {{quiz.description}} </h1>

      <h1 id="desc" class="text-gray-700"> If you are ready click start quiz and have fun!</h1>

     
      <div id="service-bar" class="relative">
        
      
          <button id="button" type="button" (click)="toggleData()"
              class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
              Start quiz
          </button>
      
          <button id="button" type="button"  (click)="qrCodeDialog()"
              class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
              QR code
          </button>
      
      </div>

  </div>

</div>



<div *ngIf="quizShow" class="flex items-center justify-center h-screen " >

    <div id="container" class="bg-white font-semibold text-center rounded-3xl shadow-lg p-10 w-4/6 " >
        <h1 class="text-lg text-gray-700">{{quiz.questionList[quizNum].content}}</h1>
        <span *ngFor="let ans of quiz.questionList[quizNum].answerList">
            <button class="bg-indigo-600 px-8 py-2 mt-8 rounded-3xl text-gray-100 font-semibold uppercase tracking-wide" (click)="sendAns(ans.content, ans.correct)">{{ans.content}}</button> <br> 
          </span>
    </div>

</div>
