
#change{
    display: flex;
    justify-content: center;
    align-items: center;
}

#change-button {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin-top: 10px;
}

#change-button:hover {
    color: white;
    background-color: #502ca0;
}

#change-button:disabled {
    background-color: #512ca077;
    color: rgba(239, 227, 227, 0.796);
    border-color: #5c78987d;
    border-width: 0px;
}

#form-back {
    background-image: linear-gradient(to right, rgba(186, 163, 163, 0.043), #502ca0);
}




