<div class="flex h-screen sm:mt-200 flex-col items-center justify-center space-y-6 px-4 sm:space-x-6 sm:space-y-0 m-10">

    <form id="container" class="w-full bg-white font-semibold text-center rounded-3xl shadow-lg p-10"
        [formGroup]="quizForm | asFormGroup" (ngSubmit)="onSubmit()">

        <div>

            <p>
                <label for="name">Quiz name:</label>
                <input type="text" id="name" name="name" formControlName="name" class="form-control">
            </p>

            <p>
                <label for="name">Description :</label>
                <input type="text" id="description" name="description" formControlName="description"
                    class="form-control">
            </p>

        </div>

        <table class="flex flex-col items-center justify-center ">
            
            <tr>

                <th width="150px">
                    <button type="button" (click)="addQuestion()" class="btn btn-primary">Add Question</button>
                </th>

            </tr>

            <ng-container formArrayName="questionList">
                <ng-container *ngFor="let question of questionList.controls; let i=index">

                    <tr class="flex flex-col items-center justify-center" [formGroup]="question | asFormGroup">

                        <div>
                            <td>
                                Quesion :
                                <input type="text" formControlName="questionContent" class="form-control">
                            </td>


                            <td>
                                <button (click)="removeQuestion(i)" class="btn btn-danger">Remove question</button>
                            </td>

                            
                            <tr>

                                <th width="150px">
                                    <button type="button" (click)="addAnswer()" class="btn btn-primary">Add answer</button>
                                </th>

                            </tr>

                            <ng-container formArrayName="answerList">
                                <ng-container *ngFor="let answer of answerList.controls; let i=index">
                
                                    <div [formGroup]="answer | asFormGroup"> 
                
                                        <td>
                                            Answer:
                                            <input type="text" formControlName="answerContent" class="form-control">
                                        </td>
                
                                        <td>
                                            <button (click)="removeAnswer(i)" class="btn btn-danger">Remove answer</button>
                                        </td>
                
                                    </div>
                
                                </ng-container>
                            </ng-container>

                        </div>

                    </tr>
                </ng-container>
            </ng-container>

        </table>

        <mat-divider> </mat-divider>

        <button type="submit" class="btn btn-success">Submit</button>

    </form>

    <br />
    {{this.quizForm.value | json}}

</div>