
#container-f {
    margin-top: 40px;
    margin-bottom: 80px;
}

button{
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
}

#quiz-info{
    margin-bottom: 15px;
}

#questionForm{
        display: flex;
        justify-content: center;
        align-items: center;
}

#question{
    margin-bottom: 40px;
}

#back {
    background-image: linear-gradient(to right, rgba(186, 163, 163, 0.043), #502ca0);
}

#create{
    display: flex;
    justify-content: center;
    align-items: center;
}

#button {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
}

#button:hover {
    color: white;
    background-color: #502ca0;
}

#button:disabled {
    background-color: #512ca077;
    color: rgba(239, 227, 227, 0.796);
    border-color: #5c78987d;
    border-width: 0px;
}

#button-del{
    width: 50px;
    height: 50px ;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin: 0px;
    margin-left: 5px;
    margin-top: 2px;
}

#button-question {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    background-color: white;
    margin: 10px;
    position: -webkit-sticky;
    left: 43.4%
}

#button-question:hover {
    color: white;
    background-color: #502ca0;
    border: 1px solid white;
}

.sticky {
    position: fixed;
    top: 58px;
    padding: 3px;
    z-index: 1;
    background-color: #502ca0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#button-del:hover {
    color: white;
    background-color: #502ca0;
}

#icon{
    vertical-align: middle;
}

#icon-btn{
    margin-top: 2px;
}

#icon-btn2{
    margin-bottom: 2px;
}

#icon-btn2{
    margin-bottom: 2px;
}

mat-button-toggle-checked {
    background-color: mat-color(blue);
    color: mat-color(blue, default-contrast);
}

#span{  
    vertical-align: middle;
}

mat-button-toggle-group {
    border-radius: 4px;
    border: 1px solid #502ca0;
    margin: 0px;
    margin-left: 5px;
    margin-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
}

#button-toggle{
    width: 50px;
    height: 50px ;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin: 0px;
    margin-left: 5px;
    margin-top: 2px;
}

#button-toggle:hover {
    color: white;
    background-color: #502ca0;
}

#form-field-answer {
    margin-right: 3px;
} 

#input-alert {
    color: #502ca0;
}

#background {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='600' preserveAspectRatio='none' viewBox='0 0 2000 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1828%26quot%3b)' fill='none'%3e%3ccircle r='50' cx='1569.67' cy='204.5' fill='rgba(148%2c 18%2c 151%2c 0.2)'%3e%3c/circle%3e%3crect width='124.2' height='124.2' clip-path='url(%26quot%3b%23SvgjsClipPath1829%26quot%3b)' x='-57.13' y='-55.57' fill='url(%23SvgjsPattern1830)' transform='rotate(34.72%2c 4.97%2c 6.53)'%3e%3c/rect%3e%3crect width='370.76' height='370.76' clip-path='url(%26quot%3b%23SvgjsClipPath1831%26quot%3b)' x='722.4' y='388.39' fill='url(%23SvgjsPattern1832)' transform='rotate(184.27%2c 907.78%2c 573.77)'%3e%3c/rect%3e%3cpath d='M1946.84 493.66L1946.99 480.85 1959.51 478.19 1959.66 465.38 1972.19 462.72 1972.34 449.91 1984.87 447.25M1953.03 498.73L1953.18 485.92 1965.7 483.26 1965.85 470.45 1978.38 467.79 1978.53 454.98 1991.05 452.32' stroke='rgba(36%2c 46%2c 151%2c 0.39)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3ccircle r='50' cx='782.82' cy='311.08' stroke='rgba(36%2c 46%2c 151%2c 0.39)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3crect width='132' height='132' clip-path='url(%26quot%3b%23SvgjsClipPath1833%26quot%3b)' x='1882.17' y='480.95' fill='url(%23SvgjsPattern1834)' transform='rotate(174.92%2c 1948.17%2c 546.95)'%3e%3c/rect%3e%3ccircle r='50' cx='1815.13' cy='281.35' stroke='rgba(81%2c 44%2c 160%2c 0.31)' stroke-width='1.33' stroke-dasharray='3%2c 3'%3e%3c/circle%3e%3cpath d='M143.48-4L142.81 8.79 130.19 10.94 129.52 23.73 116.9 25.88 116.23 38.67 103.6 40.82M137.51-9.32L136.84 3.47 124.21 5.62 123.54 18.41 110.92 20.56 110.25 33.35 97.62 35.51' stroke='rgba(30%2c 7%2c 86%2c 0.53)' stroke-width='1.75' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3cpath d='M0 0 ' fill='rgba(81%2c 44%2c 160%2c 0.31)'%3e%3c/path%3e%3cpath d='M919 214.94a5.6 5.6 0 1 0-11.09 1.62 5.6 5.6 0 1 0 11.09-1.62zM903.16 217.25a5.6 5.6 0 1 0-11.08 1.61 5.6 5.6 0 1 0 11.08-1.61zM887.33 219.55a5.6 5.6 0 1 0-11.08 1.62 5.6 5.6 0 1 0 11.08-1.62zM871.5 221.86a5.6 5.6 0 1 0-11.08 1.62 5.6 5.6 0 1 0 11.08-1.62zM948.36 194.49a5.6 5.6 0 1 0-11.09 1.62 5.6 5.6 0 1 0 11.09-1.62zM932.52 196.8a5.6 5.6 0 1 0-11.08 1.62 5.6 5.6 0 1 0 11.08-1.62zM916.69 199.11a5.6 5.6 0 1 0-11.08 1.61 5.6 5.6 0 1 0 11.08-1.61zM900.86 201.41a5.6 5.6 0 1 0-11.09 1.62 5.6 5.6 0 1 0 11.09-1.62z' stroke='rgba(81%2c 44%2c 160%2c 0.31)' stroke-width='1.91' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M794.02 353.94a5.6 5.6 0 1 0 10.44 4.04 5.6 5.6 0 1 0-10.44-4.04zM808.94 359.71a5.6 5.6 0 1 0 10.44 4.05 5.6 5.6 0 1 0-10.44-4.05zM823.86 365.49a5.6 5.6 0 1 0 10.44 4.04 5.6 5.6 0 1 0-10.44-4.04zM838.78 371.27a5.6 5.6 0 1 0 10.44 4.04 5.6 5.6 0 1 0-10.44-4.04z' fill='rgba(148%2c 18%2c 151%2c 0.2)'%3e%3c/path%3e%3cpath d='M2061.55 429.44 L1936.88 450.38L1938.6011597016582 379.2961597016579z' fill='rgba(148%2c 18%2c 151%2c 0.2)'%3e%3c/path%3e%3crect width='205.20000000000002' height='205.20000000000002' clip-path='url(%26quot%3b%23SvgjsClipPath1835%26quot%3b)' x='1737.7' y='185.8' fill='url(%23SvgjsPattern1836)' transform='rotate(159.5%2c 1840.3%2c 288.4)'%3e%3c/rect%3e%3cpath d='M1078.05 188.03a5.6 5.6 0 1 0 3.28-10.71 5.6 5.6 0 1 0-3.28 10.71zM1082.74 172.73a5.6 5.6 0 1 0 3.29-10.71 5.6 5.6 0 1 0-3.29 10.71zM1087.44 157.44a5.6 5.6 0 1 0 3.29-10.71 5.6 5.6 0 1 0-3.29 10.71zM1092.14 142.14a5.6 5.6 0 1 0 3.28-10.71 5.6 5.6 0 1 0-3.28 10.71zM1083.95 223.31a5.6 5.6 0 1 0 3.29-10.7 5.6 5.6 0 1 0-3.29 10.7zM1088.65 208.02a5.6 5.6 0 1 0 3.28-10.71 5.6 5.6 0 1 0-3.28 10.71zM1093.34 192.72a5.6 5.6 0 1 0 3.29-10.7 5.6 5.6 0 1 0-3.29 10.7zM1098.04 177.43a5.6 5.6 0 1 0 3.29-10.71 5.6 5.6 0 1 0-3.29 10.71zM1089.85 258.6a5.6 5.6 0 1 0 3.29-10.71 5.6 5.6 0 1 0-3.29 10.71zM1094.55 243.3a5.6 5.6 0 1 0 3.28-10.7 5.6 5.6 0 1 0-3.28 10.7zM1099.24 228.01a5.6 5.6 0 1 0 3.29-10.71 5.6 5.6 0 1 0-3.29 10.71zM1103.94 212.71a5.6 5.6 0 1 0 3.29-10.7 5.6 5.6 0 1 0-3.29 10.7z' stroke='rgba(148%2c 18%2c 151%2c 0.2)' stroke-width='2.14' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M150.77 534.34a5.6 5.6 0 1 0-10.13-4.78 5.6 5.6 0 1 0 10.13 4.78zM136.3 527.51a5.6 5.6 0 1 0-10.13-4.79 5.6 5.6 0 1 0 10.13 4.79zM121.83 520.68a5.6 5.6 0 1 0-10.13-4.79 5.6 5.6 0 1 0 10.13 4.79zM107.36 513.85a5.6 5.6 0 1 0-10.13-4.79 5.6 5.6 0 1 0 10.13 4.79z' fill='rgba(36%2c 46%2c 151%2c 0.39)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1828'%3e%3crect width='2000' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='12.42' height='12.42' patternUnits='userSpaceOnUse' id='SvgjsPattern1830'%3e%3cpath d='M0 12.42L6.21 0L12.42 12.42' stroke='rgba(81%2c 44%2c 160%2c 0.31)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1829'%3e%3ccircle r='31.05' cx='4.97' cy='6.53'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='370.76' height='8.06' patternUnits='userSpaceOnUse' id='SvgjsPattern1832'%3e%3crect width='370.76' height='4.03' x='0' y='0' fill='rgba(36%2c 46%2c 151%2c 0.39)'%3e%3c/rect%3e%3crect width='370.76' height='4.03' x='0' y='4.03' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1831'%3e%3ccircle r='92.69' cx='907.78' cy='573.77'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='132' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1834'%3e%3crect width='132' height='3' x='0' y='0' fill='rgba(81%2c 44%2c 160%2c 0.31)'%3e%3c/rect%3e%3crect width='132' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1833'%3e%3ccircle r='33' cx='1948.17' cy='546.95'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='11.4' height='11.4' patternUnits='userSpaceOnUse' id='SvgjsPattern1836'%3e%3cpath d='M0 11.4L5.7 0L11.4 11.4' stroke='rgba(30%2c 7%2c 86%2c 0.53)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1835'%3e%3ccircle r='51.300000000000004' cx='1840.3' cy='288.4'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

