
<div id="block" class="flex h-screen sm:mt-200 flex-col items-center justify-center space-y-6 px-4 sm:flex-row sm:space-x-6 sm:space-y-0 m-10">
    

    <div *ngIf="role !== 'USER' " id="container" class="w-full bg-white font-semibold text-center rounded-3xl shadow-lg p-10 duration-300 hover:scale-105 hover:shadow-xl">
        <img class="mx-auto mt-8 h-50 w-50 text-red-500" viewBox="0 0 20 20"
            src="https://img.icons8.com/ios-glyphs/90/null/plus-2-math.png" />

        <h1 class="mt-2 text-center text-2xl font-bold text-gray-500">Add quiz</h1>

        <p class="my-4 text-center text-sm text-gray-500">Add your own new quiz</p>

        <div class="space-x-4 bg-white-100 py-4 text-center">
            <button id="button" routerLink="/create-quiz"
                class="inline-block rounded-md px-6 py-2 font-semibold shadow-md duration-75 hover:bg-green-400">Create</button>
        </div>

    </div>

    <div id="container" class="w-full bg-white font-semibold text-center rounded-3xl shadow-lg p-10 duration-300 hover:scale-105 hover:shadow-xl">
        <img class="mx-auto mt-8 h-30 w-30 text-red-500" viewBox="0 0 20 20"
            src="https://img.icons8.com/external-vitaliy-gorbachev-fill-vitaly-gorbachev/90/null/external-qr-code-sales-vitaliy-gorbachev-fill-vitaly-gorbachev.png" />

        <h1 class="mt-2 text-center text-2xl font-bold text-gray-500">QR code convertor</h1>

        <p class="my-4 text-center text-sm text-gray-500">Convert your long link to QR code </p>

        <div class="space-x-4 bg-white-100 py-4 text-center">

            <button id="button" routerLink="/qr-convertor"
                class="inline-block rounded-md px-6 py-2 font-semibold shadow-md duration-75 hover:bg-green-400">
                Convert</button>
        </div>

    </div>

</div>