#container {
    border-top: 20px solid;
    border-color: #502ca0;
}

#button {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
}

#button:hover {
    color: white;
    background-color: #502ca0;
}
