#quizCard{
    border: 1px solid rgba(112, 103, 103, 0.285);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    
}

@media screen and (max-width: 1152px) {
    #container {
        border-radius: 0;
    }
}

#button {
    width: 110px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
}

#button:hover {
    color: white;
    background-color: #502ca0;
}

#button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border-top: 20px solid;
    border-color: #502ca0;
    position: relative;
    padding-bottom: 20px;
    background-color: white;
}
#spinner {
    margin-left: auto;
    margin-right: auto;
}

#alert-icon{
    margin-left: 46%;
    margin-bottom: 5px;
    color: gray;
}

@media screen and (max-width: 600px) {
    #alert-icon {
        margin-left: 45%;
    }
}

@media screen and (max-width: 400px) {
    #alert-icon {
        margin-left: 41%;
    }
}
