#quizCard{
    border: 1px solid rgba(112, 103, 103, 0.285);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    
}

@media screen and (max-width: 1152px) {
    #container {
        border-radius: 0;
    }
}

#button {
    width: 110px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
}

#button:hover {
    color: white;
    background-color: #502ca0;
}

#button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border-top: 20px solid;
    border-color: #502ca0;
    position: relative;
    padding-bottom: 20px;
    background-color: white;
}
#spinner {
    margin-left: auto;
    margin-right: auto;
}

#alert-icon{
    margin-left: 46%;
    margin-bottom: 5px;
    color: gray;
}

@media screen and (max-width: 600px) {
    #alert-icon {
        margin-left: 45%;
    }
}

@media screen and (max-width: 400px) {
    #alert-icon {
        margin-left: 41%;
    }
}


#alert-icon {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  color: gray;
  margin-bottom: 5px;
}

#service-bar{
  display: flex;
  justify-content: center;
  align-items: center;
}

#sort{
    color: #502ca0;
    font-size: medium;
}

#sort-table{
    border-top: 5px solid #502ca0;
    border-left: 1px solid rgba(128, 128, 128, 0.458);
    border-bottom: 1px solid rgba(128, 128, 128, 0.458);
    border-right: 1px solid rgba(128, 128, 128, 0.458);
    border-radius: 4px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    box-shadow: none;

}

  #sort-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
  }
  
  #sort-buttons a {
    display: flex;
   
    align-items: center;
    margin-right: 1rem;
  }

  .search-and-select-container {
    display: flex;
    align-items: center;
  }
  
  .search-field {
    width: 50%;
  }
  
  .select-field {
    width: 50%;
  }

  @media screen and (max-width: 600px) {
    .search-and-select-container {
      display: flex;
      flex-direction: column;
    }
    .search-field, .select-field {
      margin-bottom: -5px;
    }

    #select-school{
        margin:0px;
        margin-bottom: -20px;
    }

    .search-field {
        width: 100%;
      }
      
      .select-field {
        width: 100%;
      }
  }

  #search-input {
    margin-bottom: -10px;
    width: 100%;
  }

  .mat-expansion-panel-header:not([aria-disabled=true]) {
    cursor: pointer;
    height: 40px;
}

#profile-img{
    margin-top: 6px;
    margin-bottom: -119px;
}