 <nav id="navbar" class="relative fixed-top flex flex-wrap items-center justify-between px-2 py-3 mb-3 rounded-br-lg rounded-bl-lg ">

  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">

    <div class="w-full relative flex justify-between lg:w-auto  px-4 lg:static lg:block lg:justify-start">


	    <div class="text-white"> Queasy</div>

      <button id="butš" class="text-white cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="toggleNavbar()">
		<i> <mat-icon *ngIf="!menuOpen" >menu</mat-icon> <mat-icon *ngIf="menuOpen" >close</mat-icon> </i>
      </button>

    </div>

    <div [ngClass]="{'hidden': !showMenu, 'flex': showMenu}" class="lg:flex lg:flex-grow items-center">

      <ul class="flex flex-col lg:flex-row list-none ml-auto">

		<li class="nav-item"> 

		</li>

        <li class="nav-item">

          <a routerLink="/home"  class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
            <i class="fab fa-facebook-square text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Home</span>
			<mat-icon class="icons">home</mat-icon>
          </a>

        </li>

        <li class="nav-item">

          <a routerLink="/quiz-overview"  class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
            <i class="fab fa-twitter text-lg leading-lg text-white opacity-75"></i><span class="ml-2">Quiz</span>
			<img class="icons" src="https://img.icons8.com/material/24/FFFFFF/bookmark.png"/>
          </a>

        </li>

		<li class="nav-item">

			<button *ngIf="!loggedInUsername" routerLink="/login" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
				  <span class="ml-2"> Login </span>
				  <mat-icon class="icons">person</mat-icon>
			</button>
  
		  </li>
  
		  <li class="nav-item"> 
  
			  <button *ngIf="loggedInUsername" (click)="onlogout()" class="px-3 py-2 flex items-center text-xs uppercase font-bold leading-snug text-white hover:opacity-75" href="#pablo">
					  <span class="ml-2"> Logout </span>
					  <mat-icon class="icons">exit_to_app</mat-icon>
			  </button>
  
		  </li>



		<li *ngIf="loggedInUsername" id="user-indicator" class="nav-item">

			<button routerLink="/profile-page" id="button-user" class="px-3 py-2 flex items-center text-xs font-bold leading-snug text-white hover:opacity-75" href="#pablo">
					<span class="ml-2"> {{loggedInUsername}} </span>
					<mat-icon class="icons">person</mat-icon>
			</button>
			
		</li>

      </ul>

    </div>

  </div>

</nav> 

<div class="content">
      
	<router-outlet> </router-outlet>
	  
</div>

<div class="max-w-5xl mx-auto">

	<footer class="p-4 bg-white rounded-lg shadow md:px-6 md:py-8 dark:bg-gray-800">
		<div class="sm:flex sm:items-center sm:justify-between">
			<a href="#" target="_blank" class="flex items-center mb-4 sm:mb-0">
				<img src="" class="mr-3 h-10" />
				<span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Queasy</span>
			</a>
			<ul class="flex flex-wrap items-center mb-6 sm:mb-0">
				<li>
					<a href="#" class="mr-4 text-sm text-gray-500 hover:underline md:mr-6 dark:text-gray-400">About</a>
				</li>
				<li>
					<a href="#" class="text-sm text-gray-500 hover:underline dark:text-gray-400">Contact</a>
				</li>
			</ul>
		</div>
		<hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
		<span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2022 <a target="_blank" class="hover:underline">SPSIT</a>. All Rights Reserved.  </span>
	</footer>	

</div> 