

footer {
    bottom: 0;
}

#navbar{
    background-color: #502ca0;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
	top: 0;
    z-index: 1000;
}

.icons{
    margin-left: 10%;
} 

li {
    text-decoration: none;
}

#logo {
    height: auto;
    max-height: 60px;
}
