

footer {
    bottom: 0;
}

#navbar{
    background-color: #502ca0;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
	top: 0;
    z-index: 1000;
}

.icons{
    margin-left: 10%;
} 

li {
    text-decoration: none;
}

#text-velky {
    display: flex;
    height: auto;
    max-height: 60px;
}
  
#text-maly {
    display: none;
    height: auto;
    max-height: 60px;
}

@media (max-width: 800px) {
    #text-velky {
      display: none ;
    }
    #text-maly {
      display: flex;
    }
}

@media (max-width: 1023px) {
    #text-velky {
        margin-top: 9px;
    }
    #text-maly {
        margin-top: 9px;
    }
}
