

footer {
    bottom: 0;
}

#navbar{
    background-color: #512ca0;
    position: -webkit-sticky;
    position: fixed;
    width: 100%;
	top: 0;
    z-index: 1000;
}

.icons{
    margin-left: 10%;
} 

li {
    text-decoration: none;
}

#text-velky {
    display: flex;
    height: auto;
    max-height: 60px;
}
  
#text-maly {
    display: none;
    height: auto;
    max-height: 60px;
}

@media (max-width: 639px) {
    #text-velky {
      display: none ;
    }
    #text-maly {
      display: flex;
    }
}

@media (max-width: 1023px) {
    #text-velky {
        margin-top: 6px;
    }
    #text-maly {
        margin-top: 9px;
    }
}

#logo-short {
    width: 32px;
    height: 30px;
    margin-top: -6px; 
}

#logo-long {
    width: 81px;
    height: 35px;
    margin-top: -6px; 
}

footer{ 
    margin-left: 40px;
    margin-right: 40px;
}

.main-content {
    min-height: calc(100vh - 110px);
  }
  
  .fixed {
    left: 0;
    right: 0;
  }
  
  .bottom-0 {
    bottom: 0;
  }
  

span {
    cursor: pointer;
}
