<div class="main">

    <div id="container" class="container mx-auto my-60 rounded-3xl shadow-lg sm:max-w-6xl sm:mx-auto">
        <div>

            <div class="bg-white relative rounded-lg w-5/6 md:w-5/6 lg:w-4/6 xl:w-4/6 mx-auto">
                <div  class="flex justify-center">
                    <img id="profile-img" src="../assets/images/0icon3.svg"
                        class="rounded-full relative w-32 h-32 shadow-xl border-4 border-white transition duration-200 transform hover:scale-110">
                </div>

                <div class="mt-16">
                    <h1 class="font-bold text-center text-3xl text-gray-900"> {{loggedInUsername}} </h1>
                    <p class="text-center text-sm text-gray-400 font-medium"> Role: {{role}}</p>

                    <h1 class="text-center"
                        *ngIf="userData.schoolName && userData.classNumber && role == 'USER' || role == 'ADMIN' ">
                        <div class="d-flex justify-content-center align-items-center">
                            <p *ngIf="userData.schoolName" class="text-sm text-gray-400 font-medium mr-1">School: {{
                                userData.schoolName }} <a *ngIf="role == 'USER' ">| Class: {{ userData.classNumber
                                    }}</a></p>
                        </div>
                    </h1>

                    <div id="button-holder" *ngIf="role == 'ADMIN' " class="relative">

                        <button id="button-create-class" type="button" routerLink="/create-class"
                            class="py-2 px-8 mb-3 mr-2 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                            style="display: flex; justify-content: center; align-items: center;">
                            Create group <mat-icon style="margin-left: 5px; margin-bottom: 1px;">add_box</mat-icon>
                        </button>

                        <button *ngIf="!userData.schoolName" id="button-create-class" type="button"
                            (click)="addSchoolDialog()"
                            class="py-2 px-8 mb-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                            style="display: flex; justify-content: center; align-items: center;">
                            Add school <mat-icon style="margin-left: 5px; margin-bottom: 1px;">school</mat-icon>
                        </button>

                        <button *ngIf="userData.schoolName" id="button-create-class" type="button"
                            (click)="addSchoolDialog()"
                            class="py-2 px-8 mb-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                            style="display: flex; justify-content: center; align-items: center;">
                            Edit school <mat-icon style="margin-left: 5px; margin-bottom: 1px;">edit</mat-icon>
                        </button>

                    </div>

                    <div id="button-holder" *ngIf="role == 'GUEST' " class="relative">
                        <div
                            style=" width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                            <h2 class="text-center font-bold text-3xl text-gray-900">
                                You have default password: password, if you want to change it click. <br>

                                <button id="button" type="button" routerLink="/guest-form"
                                    class="py-[3.5px] px-2 mt-5 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                    Here
                                </button>

                            </h2>
                        </div>
                    </div>

                    <div class="mb-5" *ngIf="role == 'USER' ">
                        <div id="percentil-holder-user">
                            <a id="percentil"> Overall percentile: {{userPercentage}}% </a>
                        </div>
                        <mat-progress-bar id="progress-bar-user" mode="determinate" value="{{userPercentage}}">
                        </mat-progress-bar>
                    </div>

                    <mat-tab-group mat-align-tabs="center">


                        <mat-tab *ngIf="role == 'ADMIN' " id="admin-panel">

                            <ng-template mat-tab-label>

                                <img src="https://img.icons8.com/ios-filled/26/null/repository.png" /> Created quizzes

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                Your quizzes:
                            </div>

                            <div *ngIf="allTeacherQuizes.length == 0 "
                                class="font-bold text-center items-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon" src="https://img.icons8.com/wired/64/808080/repository.png" />
                                You have not created any quiz yet!
                            </div>

                            <div class="justify-center mx-auto ">
                                <mat-spinner *ngIf="contentLoaded" id="spinner"> </mat-spinner>
                            </div>

                            <div *ngIf="allTeacherQuizes.length > 0">


                                <div id="quizCard" *ngFor="let quiz of allTeacherQuizes">

                                    <h1 class="font-bold text-center text-3xl text-gray-900"> {{quiz.name}} </h1>
                                    <h2 class="text-center text-gray-400 font-medium"> {{quiz.description}} </h2>


                                    <div id="button-holder">

                                        <button id="button" type="button" routerLink="/admin-quiz-detail/{{quiz.name}}"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                                            (click)="sendId(quiz)">
                                            <mat-icon>info</mat-icon>
                                        </button>


                                        <button id="button" type="button" (click)="copyText(quiz)"
                                            [ngClass]="{'icon-A': !quiz.isCopied, 'icon-B': quiz.isCopied}"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>{{ quiz.isCopied ? 'check_circle' : 'share' }}</mat-icon>
                                        </button>


                                        <button id="button" type="button" (click)="openDeleteQuizDialog(quiz.name)"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                        <button id="button" type="button" routerLink="/edit-quiz/{{quiz.name}}"
                                            class="py-[3.5px] px-2 mb-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                    </div>

                                </div>
                            </div>

                        </mat-tab>


                        <mat-tab *ngIf="role !== 'ADMIN' && role !=='SUPERVISOR' " id="userResults-tab">

                            <ng-template mat-tab-label>

                                <img src="https://img.icons8.com/ios-glyphs/24/null/repository.png" /> Your Results

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                You have already done these quizzes:
                            </div>

                            <div class="justify-center mx-auto ">
                                <mat-spinner *ngIf="contentLoaded" id="spinner"> </mat-spinner>
                            </div>

                            <div >
                                <div matSort (matSortChange)="sortData($event)">

                                        <!-- <div class="mt-4"
                                            style="display: flex; justify-content: center; align-items: center;">

                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th mat-sort-header="name"><img id="icons"
                                                                src="https://img.icons8.com/material/24/00000/bookmark.png" />Name
                                                        </th>
                                                        <th mat-sort-header="date"><mat-icon
                                                                id="icons">date_range</mat-icon> Date</th>
                                                        <th mat-sort-header="adminName"><mat-icon
                                                                id="icons">person</mat-icon> Creator</th>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">
                                                            <div id="search"
                                                                style="display: flex; justify-content: center;">
                                                                <div class="flexbox">
                                                                    <div class="search">
                                                                        <div>
                                                                            <input type="text" [(ngModel)]="searchTerm"
                                                                                (ngModelChange)="searchQuizzes()"
                                                                                placeholder="Search your result">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div> -->
                                        <mat-expansion-panel class="font-bold text-center text-sm mb-3 example-headers-align" id="sort-table" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="text-center">
                                                    Sort your results
                                                </mat-panel-title>
                                                <mat-panel-description>
                                                    <a style="visibility: hidden"> . </a>
                                                    <mat-icon>sort</mat-icon>
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>

                                            <div class="mt-4"
                                                style="display: flex; justify-content: center; align-items: center;">

                                                <div>
                                                    <div>
                                                        <div id="sort-buttons">
                                                            <a mat-sort-header="name"><img id="icons"
                                                                    src="https://img.icons8.com/material/24/00000/bookmark.png" />Name
                                                            </a>
                                                            <a mat-sort-header="date"><mat-icon
                                                                    id="icons">date_range</mat-icon> Date</a>
                                                            <a mat-sort-header="adminName"><mat-icon
                                                                    id="icons">person</mat-icon> Creator</a>

                                                        </div>
                                                    </div>
                                                    <mat-form-field id="input" class="h-7 w-full" appearance="outline">
                                                        <mat-label>Search quiz by name</mat-label>
                                                        <input matInput type="text" [(ngModel)]="searchTerm"
                                                            (ngModelChange)="searchQuizzes()">
                                                        <mat-icon matSuffix>search</mat-icon>
                                                    </mat-form-field>

                                                </div>

                                            </div>
                                        </mat-expansion-panel>

                                        <div *ngIf="allUserQuizes.length == 0 "
                                class="font-bold text-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon" src="https://img.icons8.com/wired/64/808080/repository.png" />
                                You have not done any quiz yet!
                            </div>
                                    

                                        </div>

                                    <div *ngIf="allUserQuizes.length > 0"  > 
                                        <div id="quizCard" *ngFor="let quiz of allUserQuizes">

                                            <h1 class=" text-center text-3xl text-gray-900"> {{quiz.name}} </h1>
                                            <h2 class="text-center text-gray-700 font-medium"> {{quiz.description}} </h2>
                                            <div id="service-bar">
                                                <h3 class="text-center text-gray-400 font-medium"> Creator:
                                                    {{quiz.creatorName}}
                                                    <a id="divider"> | </a>
                                                </h3>
                                                <h3 id="date" class="text-center text-gray-400 font-medium"> {{quiz.date |
                                                    date:
                                                    "medium"}} </h3>
                                            </div>
    
                                            <div id="button-holder">
    
                                                <button id="button" type="button"
                                                    routerLink="/user-quiz-detail/{{quiz.resultQuizId}}"
                                                    class="py-[3.5px] px-2 mb-3 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                                    Your results
                                                </button>
    
                                            </div>
    
                                        </div>
                                    </div>
                                   

                                </div>


                        </mat-tab>

                        <mat-tab *ngIf="role == 'ADMIN' ">
                            <ng-template mat-tab-label>

                                <mat-icon id="icons">school</mat-icon> School classes

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                School classes:
                            </div>

                            <div>

                                <div id="quizCard" *ngFor="let className of classNames$ | async">
                                    <h1 class="text-center text-3xl text-gray-900">{{className}}</h1>

                                    <div id="button-holder">

                                        <button id="button" type="button"
                                            routerLink="/school-class-detail/{{userData.schoolName}}/{{className}}"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                                            matTooltip="See users in class">
                                            <mat-icon>info</mat-icon>
                                        </button>

                                        <button id="button" type="button"
                                            (click)="openEditClassNameDialog(userData.schoolName, className)"
                                            class="py-[3.5px] px-2 mb-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                                            matTooltip="Edit class name">
                                            <mat-icon>edit</mat-icon>
                                        </button>

                                    </div>

                                </div>

                            </div>


                        </mat-tab>

                        <mat-tab *ngIf="role == 'ADMIN' " id="createdClasses-tab">
                            <ng-template mat-tab-label>

                                <mat-icon>class</mat-icon> Created groups

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                Your created groups:
                            </div>

                            <div *ngIf="userClass.length == 0 "
                                class="font-bold text-center items-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon"
                                    src="https://img.icons8.com/pastel-glyph/64/808080/groups--v3.png" />
                                You have not created any group yet.
                            </div>

                            <div class="justify-center mx-auto ">
                                <mat-spinner *ngIf="contentLoaded" id="spinner"> </mat-spinner>
                            </div>

                            <div *ngIf="userClass.length > 0">

                                <div id="quizCard" *ngFor="let class of userClass">
                                    <h1 class="text-center text-3xl text-gray-900">{{class.className}}</h1>
                                    <h2 class="text-center text-gray-400 font-medium">Quiz: {{class.quizName}} </h2>

                                    <div id="button-holder">

                                        <button id="button-class-dtl" type="button"
                                            routerLink="/class-detail/{{class.className}}/{{class.quizName}}"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            See details
                                        </button>

                                        <button id="button" type="button"
                                            (click)="openDeleteClassDialog(class.className)"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                        <!-- <button id="button" type="button" 
                                            class="py-[3.5px] px-2 mb-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>edit</mat-icon>
                                        </button> -->

                                    </div>

                                </div>

                            </div>

                        </mat-tab>

                        <mat-tab *ngIf="role == 'USER' " id="bookmarksUser-tab">
                            <ng-template mat-tab-label>

                                <mat-icon>favorite</mat-icon> Favourite quizzes

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                Your favorite quizzes:
                            </div>

                            <div *ngIf="allFavouriteQuizzes.length == 0 "
                                class="font-bold text-center items-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon" src="https://img.icons8.com/wired/64/808080/repository.png" />
                                You have not any favourite quizzes yet!
                            </div>

                            <div class="justify-center mx-auto ">
                                <mat-spinner *ngIf="contentLoaded" id="spinner"> </mat-spinner>
                            </div>
                            <div>

                                <div id="quizCard" *ngFor="let quiz of allFavouriteQuizzes"
                                    [ngClass]="{'hidden': !quiz.favourite}">

                                    <h1 class="text-center text-3xl text-gray-900">{{quiz.quizName}}</h1>

                                    <div id="button-holder">

                                        <button id="button" type="button" routerLink="/quiz/{{quiz.quizName}}"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                                            (click)="sendId(quiz)">
                                            Play again
                                        </button>


                                    </div>

                                </div>

                            </div>


                        </mat-tab>

                        <!-- <mat-tab *ngIf="role == 'GUEST' " id="guest-tab">
    
                            <ng-template mat-tab-label>
    
                                <img src="https://img.icons8.com/ios-glyphs/24/null/repository.png" /> Your Results
    
                            </ng-template>
    
                            <div *ngIf="allUserQuizes.length > 0">
    
                                <div id="quizCard" *ngFor="let quiz of allUserQuizes">
    
                                    <h1 class=" text-center text-3xl text-gray-900"> {{quiz.name}} </h1>
                                    <h2 class="text-center text-gray-700 font-medium"> {{quiz.description}} </h2>
                                    <div id="service-bar">
                                        <h3 class="text-center text-gray-400 font-medium"> Creator: {{quiz.creatorName}} |
                                        </h3>
                                        <h3 id="date" class="text-center text-gray-400 font-medium"> {{quiz.date | date:
                                            "medium"}} </h3>
                                    </div>
    
    
    
                                    <div id="button-holder">
    
                                        <button id="button" type="button"
                                            routerLink="/user-quiz-detail/{{quiz.resultQuizIds}}"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0"
                                            (click)="sendId(quiz)">
                                            Your results
                                        </button>
    
                                    </div>
    
                                </div>
                            </div>
    
    
                        </mat-tab> -->

                        <mat-tab *ngIf="role !== 'GUEST' && role !== 'SUPERVISOR'" id="changePassw-tab">

                            <ng-template mat-tab-label>

                                <mat-icon>refresh</mat-icon> Change password

                            </ng-template>

                            <form #resendMail="ngForm" (ngSubmit)="sendPasswEmailChange()" class="form-group">

                                <div class="text-center text-xl text-gray-900">
                                    If you want to change your password write here your email.
                                </div>


                                <div class="form-group">

                                    <mat-form-field id="input" class="h-10 w-full" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput required type="email" name="email" [(ngModel)]="model.email"
                                            #email="ngModel"
                                            pattern="^[_A-Za-z0-9-+]+(.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$">
                                        <mat-icon matSuffix>alternate_email</mat-icon>
                                    </mat-form-field>

                                    <div id="resendMail" class="relative">
                                        <button id="resendMail-button" type="submit" [disabled]="!resendMail.form.valid"
                                            class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            Send
                                        </button>
                                    </div>

                                </div>

                            </form>


                        </mat-tab>

                        <mat-tab *ngIf="role == 'GUEST' " id="changePassw-tab-blurred">

                            <ng-template mat-tab-label>

                                <mat-icon>refresh</mat-icon> Change password

                            </ng-template>

                            <form #resendMail="ngForm" (ngSubmit)="sendPasswEmailChange()" class="form-group"
                                id="changePasswForm-blurred">

                                <div class="text-center text-xl text-gray-900">
                                    If you want to change your password write here your email.
                                </div>


                                <div class="form-group">

                                    <mat-form-field id="input" class="h-10 w-full" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput required type="email" name="email" [(ngModel)]="model.email"
                                            #email="ngModel"
                                            pattern="^[_A-Za-z0-9-+]+(.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$">
                                        <mat-icon matSuffix>alternate_email</mat-icon>
                                    </mat-form-field>

                                    <div id="resendMail" class="relative">
                                        <button id="resendMail-button" type="submit" [disabled]="!resendMail.form.valid"
                                            class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            Send
                                        </button>
                                    </div>

                                </div>

                            </form>

                            <div
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                <h1 class="text-center text-3xl text-gray-900">
                                    <mat-icon>lock</mat-icon> <br>
                                    If you want to change your password, you have to add email.

                                    <button id="button" type="button" routerLink="/guest-form"
                                        class="py-[3.5px] px-2 mt-5 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                        Here
                                    </button>

                                </h1>
                            </div>


                        </mat-tab>

                        <mat-tab id="support" *ngIf="role !== 'SUPERVISOR' && role !=='GUEST' ">

                            <ng-template mat-tab-label>

                                <mat-icon>help</mat-icon> Support

                            </ng-template>

                            <form #supportForm="ngForm" (ngSubmit)="sendSupport()" class="form-group">

                                <div class="text-center text-xl text-gray-900">
                                    Found some issue? Let us know about it, write here your problem.
                                </div>

                                <div id="select">

                                    <mat-form-field id="width-select" appearance="outline" class="w-4/6 ">
                                        <mat-label>Select an report type</mat-label>
                                        <mat-select [(value)]="reason" required>
                                            <mat-option value="">Please select an option</mat-option>
                                            <mat-option value="BUG">Bug</mat-option>
                                            <mat-option value="HELP">Help</mat-option>
                                            <mat-option value="QUESTION">Question</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="reason == ''">Report type is required</mat-error>
                                    </mat-form-field>

                                </div>


                                <div class="form-group">

                                    <mat-form-field class="h-10 w-full" appearance="outline">
                                        <mat-label>Your issue</mat-label>
                                        <textarea matInput required type="text" name="problem"
                                            [(ngModel)]="modelSendSupport.problem" #problemInput="ngModel">  </textarea>
                                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    </mat-form-field>


                                    <div id="resendMail" class="relative">
                                        <button id="resendMail-button" type="submit"
                                            [disabled]="!supportForm.valid || reason == '' "
                                            class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            Send
                                        </button>
                                    </div>

                                </div>

                            </form>



                        </mat-tab>

                        <mat-tab id="support" *ngIf="role == 'GUEST' " id="guestSupport-blurred">

                            <ng-template mat-tab-label>

                                <mat-icon>help</mat-icon> Support

                            </ng-template>

                            <form id="quizCard-blurred" #supportForm="ngForm" (ngSubmit)="sendSupport()"
                                class="form-group">

                                <div class="text-center text-xl text-gray-900">
                                    Found some issue? Let us know about it, write here your problem.
                                </div>

                                <div id="select">

                                    <mat-form-field appearance="outline" class="w-3/6">
                                        <mat-label>Select an report type</mat-label>
                                        <mat-select [(value)]="reason" required>
                                            <mat-option value="">Please select an option</mat-option>
                                            <mat-option value="BUG">Bug</mat-option>
                                            <mat-option value="HELP">Help</mat-option>
                                            <mat-option value="QUESTION">Question</mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="reason == ''">Report type is required</mat-error>
                                    </mat-form-field>

                                </div>


                                <div class="form-group">

                                    <mat-form-field class="h-10 w-full" appearance="outline">
                                        <mat-label>Your issue</mat-label>
                                        <textarea matInput required type="text" name="problem"
                                            [(ngModel)]="modelSendSupport.problem" #problemInput="ngModel">  </textarea>
                                        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                                    </mat-form-field>


                                    <div id="resendMail" class="relative">
                                        <button id="resendMail-button" type="submit"
                                            [disabled]="!supportForm.valid || reason == '' "
                                            class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            Send
                                        </button>
                                    </div>

                                </div>

                            </form>

                            <div
                                style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                                <h1 class="text-center text-3xl text-gray-900">
                                    <mat-icon>lock</mat-icon> <br>
                                    If you want to submit a report, you have to add email to your profile.

                                    <button id="button" type="button" routerLink="/guest-form"
                                        class="py-[3.5px] px-2 mt-5 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                        Here
                                    </button>

                                </h1>
                            </div>


                        </mat-tab>


                        <!-- SUPERVISOR SECTION -->

                        <mat-tab id="all-admins" *ngIf="role == 'SUPERVISOR' ">

                            <ng-template mat-tab-label>

                                <mat-icon class="mr-2">people</mat-icon> Admin manager

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                This is the list of all admins:
                            </div>

                            <div *ngIf="allAdmins.length == 0 "
                                class="font-bold text-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon"
                                    src="https://img.icons8.com/pastel-glyph/64/808080/groups--v3.png" />
                                Any admin has been registered yet.
                            </div>


                            <div *ngIf="allAdmins.length > 0">

                                <div #loadedContent id="quizCard" *ngFor="let admin of allAdmins ">

                                    <h1 class="font-bold text-center text-3xl text-gray-900"> {{admin.username}} |
                                        {{admin.id}} </h1>
                                    <h3 class="text-center text-gray-500 font-bold"> {{admin.email}} </h3>
                                    <h3 class="text-center text-gray-500 font-bold"> Verified: {{admin.enabled}}</h3>

                                    <div id="button-holder">

                                        <button id="button" type="button"
                                            routerLink="/all-admin-quizzes/{{admin.username}}"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>info</mat-icon>
                                        </button>

                                        <button id="button" type="button"
                                            (click)="openDeleteAdminDialog(admin.username)"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                    </div>

                                </div>
                            </div>

                        </mat-tab>

                        <mat-tab id="all-users" *ngIf="role == 'SUPERVISOR' ">

                            <ng-template mat-tab-label>

                                <mat-icon class="mr-2">people</mat-icon> User manager

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                This is the list of all users:
                            </div>

                            <div *ngIf="allUsers.length == 0"
                                class="font-bold text-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon"
                                    src="https://img.icons8.com/pastel-glyph/64/808080/groups--v3.png" />
                                Any user has been registered yet.
                            </div>


                            <div>

                                <div #loadedContent id="quizCard" *ngFor="let user of allUsers ">

                                    <h1 class="font-bold text-center text-3xl text-gray-900"> {{user.username}} |
                                        {{user.id}} </h1>
                                    <h3 class="text-center text-gray-500 font-bold"> {{user.email}} </h3>
                                    <h3 class="text-center text-gray-500 font-bold"> Verified: {{user.enabled}}</h3>

                                    <div id="button-holder">

                                        <button id="button" type="button"
                                            (click)="openDeleteStudentDialog(user.username)"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                    </div>

                                </div>
                            </div>


                        </mat-tab>

                        <mat-tab id="all-quizzes" *ngIf="role == 'SUPERVISOR' ">

                            <ng-template mat-tab-label>

                                <img src="https://img.icons8.com/ios-filled/23/null/repository.png" /> All quizzes

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                This is the list of all quizzes:
                            </div>

                            <div *ngIf="quizzes.length == 0 "
                                class="font-bold text-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon" src="https://img.icons8.com/wired/64/808080/repository.png" />
                                Any quiz has been created yet.
                            </div>


                            <div>

                                <div #loadedContent id="quizCard" *ngFor="let quiz of quizzes ">

                                    <h1 class="font-bold text-center text-3xl text-gray-900"> {{quiz.name}} </h1>
                                    <h3 class="text-center text-gray-500 font-bold"> {{quiz.description}} </h3>
                                    <h3 class="text-center text-gray-500 font-bold"> Creator: {{quiz.creatorName}} </h3>

                                    <div id="button-holder">

                                        <button id="button" type="button" (click)="openDeleteQuizDialog(quiz.name)"
                                            class="py-[3.5px] px-2 mb-3 mr-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>delete</mat-icon>
                                        </button>

                                    </div>

                                </div>
                            </div>


                        </mat-tab>

                        <mat-tab id="report-notifications" *ngIf="role == 'SUPERVISOR' ">

                            <ng-template mat-tab-label>

                                <mat-icon>notifications</mat-icon> Report notifications

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                This is the list of all reports:
                            </div>

                            <div *ngIf="allReports.length == 0"
                                class="font-bold text-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon" src="https://img.icons8.com/wired/64/808080/repository.png" />
                                Any report has been submitted yet.
                            </div>


                            <div>

                                <div #loadedContent id="reportCard" *ngFor="let report of allReports "
                                    class="shadow-lg">
                                    <div id="report-icon"
                                        class="text-white flex items-center rounded-full py-4 px-4 shadow-xl" [ngClass]="{
                                      'bg-red-600': report.reason === 'BUG',
                                      'bg-orange-400': report.reason === 'HELP',
                                      'bg-green-600': report.reason === 'QUESTION'
                                    }">
                                        <mat-icon [innerHTML]="getReasonIcon(report.reason)"></mat-icon>
                                    </div>

                                    <div id="report-id" class="text-white flex items-center py-2 px-4 ">
                                        <div id="r-id" class="font-bold"> {{report.id}}</div>
                                    </div>

                                    <div id="report-content-holder">
                                        <h1 class="font-bold text-center text-3xl text-gray-900">
                                            {{report.user.username}} | {{report.user.id}} </h1>
                                        <h3 class="text-center text-gray-500 font-bold"> {{report.reason}} </h3>
                                        <h3 class="text-center text-gray-500 font-bold"> {{report.message}} </h3>
                                    </div>

                                    <div id="button-holder">

                                        <button id="button" type="button" matTooltip="Mark as done"
                                            (click)="openDeleteReportDialog(report.id)"
                                            class="py-[3.5px] px-2 mb-3 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                            <mat-icon>check_circle</mat-icon>
                                        </button>

                                    </div>

                                </div>

                            </div>


                        </mat-tab>

                        <mat-tab id="quiz-stats" *ngIf="role == 'ADMIN' ">

                            <ng-template mat-tab-label>

                                <img src="https://img.icons8.com/ios-filled/23/null/gold-medal.png" /> Quiz stats

                            </ng-template>

                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                This is stats for your quizzes:
                            </div>

                            <div *ngIf="allTeacherQuizesPercentage.length == 0"
                                class="font-bold text-center text-xl text-gray-400 mt-7 mb-7">
                                <img id="alert-icon" src="https://img.icons8.com/wired/64/808080/repository.png" />
                                Any quiz has been done yet.
                            </div>

                            <div>

                                <div #loadedContent id="quizCard" *ngFor="let quiz of allTeacherQuizesPercentage">

                                    <div id="report-content-holder">
                                        <h1 class="font-bold text-center text-3xl text-gray-900"> {{quiz.quizName}}
                                        </h1>
                                    </div>

                                    <div id="percentil-holder"> <a id="percentil"> {{quiz.percentage}}% </a></div>
                                    <mat-progress-bar id="progress-bar" mode="determinate"
                                        value="{{quiz.percentage}}"></mat-progress-bar>

                                </div>

                            </div>


                        </mat-tab>


                    </mat-tab-group>


                </div>
            </div>

        </div>
    </div>

</div>