<!-- <div id="block"
    class="flex h-screen sm:mt-200 items-center justify-center space-y-6 px-4 sm:space-x-6 sm:space-y-0 m-10">

    <div id="container" class="w-full bg-white font-semibold text-center items-center rounded-3xl shadow-lg p-10 ">


        <h1 id="svg-holder"> asda sdas </h1>


        <div class="tabs">

            <mat-tab-group mat-align-tabs="center">


                <mat-tab id="quiz-tab">

                    <ng-template mat-tab-label>

                        <img src="https://img.icons8.com/ios-filled/26/000000/gold-medal.png" /> Score

                    </ng-template>

                    <div class="info2">
                        Your quizes:
                    </div>

                    <div id="quizCard" *ngFor="let quiz of allTeacherQuizes">

                        <h1> {{quiz.name}} </h1>
                        <h1> {{quiz.description}} </h1>

                    </div>

                </mat-tab>

                <mat-tab id="changePassw-tab">

                    <ng-template mat-tab-label>

                        <mat-icon>refresh</mat-icon> Change password

                    </ng-template>



                </mat-tab>


            </mat-tab-group>

        </div>

    </div>

</div> -->

    <div id="container" class="container mx-auto my-60 rounded-3xl shadow-lg w-4/6 sm:w-5/6">
        <div>

            <div class="bg-white relative rounded-lg w-5/6 md:w-5/6 lg:w-4/6 xl:w-3/6 mx-auto">
                <div class="flex justify-center">
                        <img src="https://avatars0.githubusercontent.com/u/35900628?v=4" alt="" class="rounded-full mx-auto absolute -top-20 w-32 h-32 shadow-md border-4 border-white transition duration-200 transform hover:scale-110">
                </div>
                
                <div class="mt-16">
                    <h1 class="font-bold text-center text-3xl text-gray-900"> {{loggedInUsername}}</h1>
                    <p class="text-center text-sm text-gray-400 font-medium"> Role: ADMIN</p>
                    <p>
                        <span>
                            
                        </span>
                    </p>

                    <mat-tab-group mat-align-tabs="center">


                        <mat-tab id="quiz-tab">
        
                            <ng-template mat-tab-label>
        
                                <img src="https://img.icons8.com/ios-filled/26/null/repository.png"/> Created quizes
        
                            </ng-template>
        
                            <div class="font-bold text-center text-3xl text-gray-900 mt-7 mb-7">
                                Your quizes:
                            </div>
        
                            <div id="quizCard" *ngFor="let quiz of allTeacherQuizes">
        
                                <h1 class="font-bold text-center text-3xl text-gray-900"> {{quiz.name}} </h1>
                                <h2 class="text-center text-gray-400 font-medium"> {{quiz.description}} </h2>

                                <button id="login-button" type="button" routerLink="/admin-quiz-detail/{{quiz.name}}" 
                                class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                                <mat-icon>info</mat-icon>
                                </button> 
        
                            </div>
        
                        </mat-tab>

        
                        <mat-tab id="changePassw-tab">
        
                            <ng-template mat-tab-label>
        
                                <mat-icon>refresh</mat-icon> Change password
        
                            </ng-template>
        
        


                        </mat-tab>
        
                    </mat-tab-group>
                  
                  
                </div>
            </div>

        </div>
    </div>