#container {
    border-top: 20px solid;
    border-color: #502ca0;
    position: relative;
    padding-bottom: 20px;
    background-color: white;
}

@media screen and (max-width: 1152px) {
    #container {
        border-radius: 0;
    }
}

#svg-holder{
    background-color: white;
    color: #502ca0;
    border: 2px solid black;
    border-radius: 50%;
    margin-top: -25px;
    z-index: 5;
}

#quizCard{
    border: 1px solid rgba(112, 103, 103, 0.285);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 20px;
}

#quizCard-blurred{
    border: 1px solid rgba(112, 103, 103, 0.285);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 20px;
    filter: blur(6px);
    margin-top: 10px;
}

#changePasswForm-blurred {
    filter: blur(6px);
    margin-top: 10px;
}

#icon{
    height: 50px;
    width: 50px;
}

#alert-icon{
    margin-left: 46%;
    margin-bottom: 5px;
    color: gray;
}

@media screen and (max-width: 600px) {
    #alert-icon {
        margin-left: 45%;
    }
}

@media screen and (max-width: 400px) {
    #alert-icon {
        margin-left: 41%;
    }
}


#button {
    width: 110px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
}

#button:hover {
    color: white;
    background-color: #502ca0;
}

@media screen and (max-width: 639px) {
    #block {
      margin-top: 150px;
    }
}

#change-content{
    margin-top: 20px;
}

h2 {
 font-style: italic;
 font-size: medium;
}

h1 {
    font-weight: bold;
    color: #502ca0;
}

#button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    padding: 10px;

}

#resendMail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50%;
    margin-left: 50%;
    margin-top: 30px;
}

#resendMail-button {
    width: 150px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
    margin-right: 50%;
}

#resendMail-button:hover {
    color: white;
    background-color: #502ca0;
}

#resendMail-button:disabled {
    background-color: #512ca077;
    color: rgba(239, 227, 227, 0.796);
    border-color: #502ca0;
    border-width: 0px;
}

#dialog-container{
    border-top: #502ca0 15px solid;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}

#title {
    margin-top: 50px;
}

#spinner {
    margin-left: auto;
    margin-right: auto;
}

#service-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#date{
    margin-left: 5px;
}

#alert-icon{
    margin-left: 46%;
    margin-bottom: 5px;
    color: gray;
}

@media screen and (max-width: 600px) {
    #alert-icon {
        margin-left: 45%;
    }
}

@media screen and (max-width: 400px) {
    #alert-icon {
        margin-left: 41%;
    }
}

#select{ 
    margin-left: 33%;
    margin-bottom: -15px;
}

#report-icon{
    margin-top: -50px;
    width: 56px;
    height: 56px;
}

#report-id{
    margin-top: -29px;
    width: 52px;
    background-color: #502ca0;
    border-bottom-left-radius: 10px;
    float: right;
    margin-right: -20px;
}

#reportCard{
    border-top: 10px solid #502ca0;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#report-content-holder {
    margin-top: 9px;
}

@media screen and (max-width: 458px) {
    #divider {
        opacity: 0;
    }
}

#progress-bar{
    height: 10px;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #502ca0;
}

::ng-deep .mat-progress-bar-buffer {
    background: #aca0c6;
}

::ng-deep .mat-progress-bar {
    border-radius: 10px;
}

#percentil-holder{
    background-color: #502ca0;
    width: 50px;
    padding-bottom: 15px;
    color: white;
    margin-bottom: -9px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    padding-bottom: 10px;
}

#percentil{
    margin: auto

}

.main{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2000' height='600' preserveAspectRatio='none' viewBox='0 0 2000 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1875%26quot%3b)' fill='none'%3e%3ccircle r='89.42931865797657' cx='1074.18' cy='216.33' stroke='rgba(81%2c 44%2c 160%2c 0.31)' stroke-width='1' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3crect width='125.6' height='125.6' clip-path='url(%26quot%3b%23SvgjsClipPath1876%26quot%3b)' x='1644.86' y='416.83' fill='url(%23SvgjsPattern1877)' transform='rotate(157.6%2c 1707.66%2c 479.63)'%3e%3c/rect%3e%3crect width='276' height='276' clip-path='url(%26quot%3b%23SvgjsClipPath1878%26quot%3b)' x='1811.56' y='423.17' fill='url(%23SvgjsPattern1879)' transform='rotate(199.49%2c 1949.56%2c 561.17)'%3e%3c/rect%3e%3ccircle r='50' cx='326.36' cy='489.27' stroke='rgba(81%2c 44%2c 160%2c 0.31)' stroke-width='1.75' stroke-dasharray='3%2c 2'%3e%3c/circle%3e%3cpath d='M893.67 306.26L897.29 293.98 910.07 294.81 913.68 282.52 926.46 283.36 930.08 271.07 942.86 271.9M898.25 312.82L901.87 300.54 914.65 301.37 918.26 289.08 931.04 289.91 934.66 277.63 947.44 278.46M902.84 319.38L906.45 307.09 919.23 307.93 922.85 295.64 935.63 296.47 939.24 284.19 952.02 285.02' stroke='rgba(36%2c 46%2c 151%2c 0.39)' stroke-width='2.71'%3e%3c/path%3e%3cpath d='M1629.43 465.96a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1615.73 457.7a5.6 5.6 0 1 0-9.6-5.79 5.6 5.6 0 1 0 9.6 5.79zM1602.02 449.43a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1588.32 441.17a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1665.09 468.78a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1651.39 460.52a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1637.69 452.26a5.6 5.6 0 1 0-9.59-5.79 5.6 5.6 0 1 0 9.59 5.79zM1623.99 443.99a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1700.76 471.6a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1687.06 463.34a5.6 5.6 0 1 0-9.59-5.78 5.6 5.6 0 1 0 9.59 5.78zM1673.36 455.08a5.6 5.6 0 1 0-9.6-5.78 5.6 5.6 0 1 0 9.6 5.78zM1659.65 446.82a5.6 5.6 0 1 0-9.59-5.79 5.6 5.6 0 1 0 9.59 5.79z' fill='rgba(36%2c 46%2c 151%2c 0.39)'%3e%3c/path%3e%3cpath d='M735.8000000000001 277.34999999999997 L707.69 323.35999999999996L744.1639671427345 322.7739671427343z' stroke='rgba(81%2c 44%2c 160%2c 0.31)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='323.04' height='323.04' clip-path='url(%26quot%3b%23SvgjsClipPath1880%26quot%3b)' x='99.39' y='202.86' fill='url(%23SvgjsPattern1881)' transform='rotate(279.02%2c 260.91%2c 364.38)'%3e%3c/rect%3e%3cpath d='M537.29 124.77L539.27 137.42 527.36 142.13 529.34 154.78 517.43 159.49 519.41 172.14 507.5 176.85M530.35 120.8L532.33 133.45 520.42 138.16 522.4 150.81 510.49 155.52 512.47 168.17 500.56 172.88M523.41 116.83L525.38 129.48 513.48 134.19 515.45 146.84 503.55 151.55 505.52 164.2 493.61 168.91' stroke='rgba(30%2c 7%2c 86%2c 0.53)' stroke-width='2.91'%3e%3c/path%3e%3ccircle r='50' cx='400.47' cy='118.95' stroke='rgba(30%2c 7%2c 86%2c 0.53)' stroke-width='2.81' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1882%26quot%3b)' x='1698.94' y='73.72' fill='url(%23SvgjsPattern1883)' transform='rotate(31.24%2c 1728.94%2c 103.72)'%3e%3c/rect%3e%3crect width='271.92' height='271.92' clip-path='url(%26quot%3b%23SvgjsClipPath1884%26quot%3b)' x='-37.56' y='298.1' fill='url(%23SvgjsPattern1885)' transform='rotate(112%2c 98.4%2c 434.06)'%3e%3c/rect%3e%3cpath d='M1180.54 389.12L1190.93 381.62 1200.52 390.11 1210.91 382.62 1220.49 391.11 1230.88 383.62 1240.47 392.11M1180.15 397.11L1190.53 389.61 1200.12 398.1 1210.51 390.61 1220.1 399.1 1230.48 391.61 1240.07 400.1M1179.75 405.1L1190.13 397.6 1199.72 406.09 1210.11 398.6 1219.7 407.09 1230.08 399.6 1239.67 408.09' stroke='rgba(81%2c 44%2c 160%2c 0.31)' stroke-width='2.97' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='324' height='324' clip-path='url(%26quot%3b%23SvgjsClipPath1886%26quot%3b)' x='465.62' y='-11.88' fill='url(%23SvgjsPattern1887)' transform='rotate(92.48%2c 627.62%2c 150.12)'%3e%3c/rect%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1888%26quot%3b)' x='1113.43' y='50.63' fill='url(%23SvgjsPattern1889)' transform='rotate(192.43%2c 1143.43%2c 80.63)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1875'%3e%3crect width='2000' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='12.56' height='12.56' patternUnits='userSpaceOnUse' id='SvgjsPattern1877'%3e%3cpath d='M6.28 1L6.28 11.56M1 6.28L11.56 6.28' stroke='rgba(148%2c 18%2c 151%2c 0.2)' fill='none' stroke-width='2.05'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1876'%3e%3ccircle r='31.4' cx='1707.66' cy='479.63'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1879'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(81%2c 44%2c 160%2c 0.31)' fill='none' stroke-width='1.73'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1878'%3e%3ccircle r='69' cx='1949.56' cy='561.17'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.46' height='13.46' patternUnits='userSpaceOnUse' id='SvgjsPattern1881'%3e%3cpath d='M0 13.46L6.73 0L13.46 13.46' stroke='rgba(30%2c 7%2c 86%2c 0.53)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1880'%3e%3ccircle r='80.76' cx='260.91' cy='364.38'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='60' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1883'%3e%3crect width='60' height='3' x='0' y='0' fill='rgba(148%2c 18%2c 151%2c 0.2)'%3e%3c/rect%3e%3crect width='60' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1882'%3e%3ccircle r='15' cx='1728.94' cy='103.72'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='271.92' height='12.36' patternUnits='userSpaceOnUse' id='SvgjsPattern1885'%3e%3crect width='271.92' height='6.18' x='0' y='0' fill='rgba(30%2c 7%2c 86%2c 0.53)'%3e%3c/rect%3e%3crect width='271.92' height='6.18' x='0' y='6.18' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1884'%3e%3ccircle r='67.98' cx='98.4' cy='434.06'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='324' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1887'%3e%3crect width='324' height='3' x='0' y='0' fill='rgba(30%2c 7%2c 86%2c 0.53)'%3e%3c/rect%3e%3crect width='324' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1886'%3e%3ccircle r='81' cx='627.62' cy='150.12'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='60' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1889'%3e%3crect width='60' height='3' x='0' y='0' fill='rgba(148%2c 18%2c 151%2c 0.2)'%3e%3c/rect%3e%3crect width='60' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1888'%3e%3ccircle r='15' cx='1143.43' cy='80.63'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}