#quizCard{
    border: 1px solid rgba(112, 103, 103, 0.285);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    
}

@media screen and (max-width: 1152px) {
    #container {
        border-radius: 0;
    }
}

#button {
    width: 110px;
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
}

#button:hover {
    color: white;
    background-color: #502ca0;
}

#button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    border-top: 20px solid;
    border-color: #502ca0;
    position: relative;
    padding-bottom: 20px;
}


#container {
    border-top: 20px solid;
    border-color: #502ca0;
    position: relative;
    padding-bottom: 20px;
    background-color: white;
}

@media screen and (max-width: 1152px) {
    #container {
        border-radius: 0;
    }
}

#card {
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 15px;
    padding-right: 15px;
}

.correct-border{
    border: 2px solid rgba(0, 128, 0, 0.836);
}

.incorrect-border{
    border: 2px solid rgba(206, 4, 4, 0.836);
}

#indicator {
    float: right;
}

#indicator-touch {
    color: gray;
    margin-left: 2px;
}


@media screen and (max-width: 640px) {
    #indicator {
        margin-left: 10px;
    }
}

#score{
    background-color: #502ca0 ;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 8px;
}

@media screen and (max-width: 640px) {
    #score {
        margin-left: 30%;
        margin-right: 30%;
    }
}

#spinner {
    margin-left: auto;
    margin-right: auto;
}

#resultCard {
    border: 2px solid rgba(112, 103, 103, 0.285);
    padding: 21px;
    margin-bottom: 15px;
    border-radius: 10px;
}

p{
    margin-bottom: 0px;
}

#background{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1798' height='1800' preserveAspectRatio='none' viewBox='0 0 1798 1800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1055%26quot%3b)' fill='none'%3e%3cpath d='M900 433.93C886.91 433.93 867.86 443.91 867.86 450C867.86 455.58 885.06 457.26 900 457.26C904.49 457.26 906.72 454.23 906.72 450C906.72 442.56 906.34 433.93 900 433.93' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M450 666.67C408.61 666.67 368.18 786.45 368.18 900C368.18 979.95 408.67 1053.66 450 1053.66C491.58 1053.66 534 980.09 534 900C534 786.59 491.52 666.67 450 666.67' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1350 799.41C1281.53 811.18 1243.13 850.32 1243.13 900C1243.13 948.65 1282.79 989.11 1350 996.07C1561.23 1017.95 1679.59 862.99 1800 957.69C1904.59 1039.95 1800 1153.85 1800 1350C1800 1548.7 1822.69 1558.28 1800 1747.4C1795.69 1783.28 1781.98 1795.79 1746 1800C1556.98 1822.09 1548 1800 1350 1800C1125 1800 1125 1800 900 1800C747.32 1800 722.76 1851.25 594.64 1800C497.76 1761.25 525.29 1620 450 1620C370.32 1620 388.62 1758.43 284.69 1800C163.62 1848.43 55.16 1887.19 0 1800C-87.19 1662.19 0 1575 0 1350C0 1125 0 1125 0 900C0 675 0 675 0 450C0 225 -112.5 112.5 0 0C112.5 -112.5 225 0 450 0C675 0 675 0 900 0C1125 0 1125 0 1350 0C1575 0 1687.5 -112.5 1800 0C1912.5 112.5 1800 225 1800 450C1800 627.13 1899.1 727.31 1800 804.26C1674.1 902.01 1559.96 763.31 1350 799.41' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 114.55C60.45 10.92 126.52 34.61 262.5 0C351.52 -22.66 356.25 0 450 0C675 0 675 0 900 0C1125 0 1125 0 1350 0C1505.45 0 1546.07 -67.32 1660.91 0C1771.07 64.57 1757.19 125.28 1800 263.79C1826.73 350.28 1800 356.89 1800 450C1800 507.44 1844.85 543.26 1800 564.89C1619.85 651.79 1550.83 570.57 1350 667.06C1202.08 738.13 1102.5 784.95 1102.5 900C1102.5 1012.65 1201.82 1079.57 1350 1122.47C1550.57 1180.53 1654.91 1028.56 1800 1101.92C1879.91 1142.32 1800 1225.96 1800 1350C1800 1475.65 1847.82 1495.83 1800 1601.3C1745.82 1720.83 1716.72 1746.7 1596 1800C1491.72 1846.05 1473 1800 1350 1800C1125 1800 1125 1800 900 1800C847.77 1800 831.36 1834.23 795.54 1800C606.36 1619.23 630.18 1574.99 450 1370C432.41 1349.99 400 1360.41 400 1350C400 1339.44 435.71 1350.7 450 1328.05C577.71 1125.7 551.25 1103.35 684 900C776.25 758.68 788.93 766.67 900 638.71C984.24 541.67 1074.63 559.83 1074.63 450C1074.63 256.54 1051.31 91.6 900 32.14C739 -31.13 627.86 69.89 450 204.55C351.91 278.82 389.42 323.94 348.11 450C275.46 671.67 317.31 690.26 222.08 900C143.26 1073.59 61.05 1216.67 0 1216.67C-49.99 1216.67 0 1058.34 0 900C0 675 0 675 0 450C0 282.27 -70.8 235.92 0 114.55' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 1677.27C14.41 1677.27 55.1 1756.47 55.1 1800C55.1 1817.83 8.54 1819.01 0 1800C-19.01 1757.65 -13.14 1677.27 0 1677.27' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 319.09C40.1 319.09 124.7 364.73 135.85 450C162.68 655.18 128.57 683.84 75.97 900C60.64 963 20.89 1008.33 0 1008.33C-17.1 1008.33 0 954.16 0 900C0 675 0 675 0 450C0 384.54 -27.83 319.09 0 319.09' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1242.54 450C1180.13 244.63 1147.95 165.63 1187.5 0C1201.68 -59.37 1268.75 0 1350 0C1403.18 0 1433.52 -41.39 1456.36 0C1557.66 183.61 1632.46 278.17 1598.28 450C1579.28 545.53 1466.9 534.71 1350 534.71C1289.03 534.71 1261.38 511.99 1242.54 450' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M834 900C834 854.53 867.63 820.16 900 820.16C931.57 820.16 961.88 855.04 961.88 900C961.88 983.36 931.85 1076.79 900 1076.79C867.91 1076.79 834 982.84 834 900' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1106.76 1350C1154.22 1248.28 1222.02 1268.05 1350 1248.88C1568.64 1216.13 1617.19 1205.07 1800 1246.15C1842.19 1255.63 1800 1298.07 1800 1350C1800 1402.6 1831.06 1415.7 1800 1455.19C1654.06 1640.7 1634.4 1655.64 1446 1800C1409.4 1828.04 1398 1800 1350 1800C1221.43 1800 1137.07 1881.79 1092.86 1800C1015.45 1656.79 1025.65 1523.84 1106.76 1350' stroke='rgba(81%2c 44%2c 160%2c 0.63)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1055'%3e%3crect width='1798' height='1800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

