@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-overlay-dark-backdrop {
    background-color: rgba(0, 0, 0, 0.286);
    backdrop-filter: blur(4px);
}

.snackbar {
    background: #512ca0e4;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: #502e987b;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: #512ca0fb;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #512ca0fb;
}