  #main {
    margin-top: -15px;
  }

  #text {
    margin-top: 30px;
  }

  #special {
    color: #502ca0;
  }

  #special2 {
    background-color: #502ca0;
  }

  #pointer {
    background-color: #502ca0;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: -25px;
    z-index: 5;
  }

  #arrow-icon {
    margin-left: 13px;
    margin-top: 15px;
    color: white;
  }

  #text-velky {
    display: flex;
    height: 80px;
    width: 200px;
  }

  #cards {
    background-color: #512ca095;
    min-height: 222px;
  }

  .animationLeft {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: 1s;
  }

  .animationRight {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: 1s;
  }

  .animationBottom {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(70%);
    transition: 1s;
  }

  @media screen and (max-width: 1029px) {
    #svg {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 670px) {
    .animationLeft {
      transform: translateX(0%);
    }

    .animationRight {
      transform: translateX(0%);
    }

    .animationBottom {
      transform: translateY(0%);
    }
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  #button {
    border-radius: 4px;
    border: 1px solid #502ca0;
    color: #502ca0;
  }

  #button:hover {
    color: white;
    background-color: #502ca0;
  }


  #button-revert {
    border-radius: 4px;
    background-color: #502ca0;
    color: white;
  }

  #button-revert:hover {
    background-color: white;
    border: 1px solid #502ca0;
    color: #502ca0;
  }

