<div id="main" class="min-h-screen bg-white-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 sm:max-w-xl sm:mx-auto">
        <div id="login-back"
            class="absolute inset-0  shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
            <div class="max-w-md mx-auto">
                <div>
                    <h1 class="text-2xl font-semibold">Register now, to create your account. </h1>
                </div>
                <div class="divide-y divide-gray-200">
                    <form (ngSubmit)="onSubmit()" #registerForm="ngForm"> 
                    <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">

                        <mat-form-field appearance="outline" class="h-10 w-full" >
                            <mat-label>Username</mat-label>
                            <input matInput required type="text" name="username" [(ngModel)]="model.username">
                            <mat-icon matSuffix>person</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="h-10 w-full" >
                            <mat-label>Email</mat-label>
                            <input matInput  required type="email" name="email" [(ngModel)]="model.email" #email="ngModel" pattern="^[_A-Za-z0-9-+]+(.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(.[A-Za-z0-9]+)*(.[A-Za-z]{2,})$"> 
                            <mat-icon matSuffix>email</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="h-10 w-full" >
                            <mat-label>Password</mat-label>
                            <input matInput required type="password" name="password" [(ngModel)]="model.password">
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="h-10 w-full" >
                            <mat-label>Confirm password</mat-label>
                            <input matInput type="password" name="confirmPassword" required #comfPassword="ngModel" [(ngModel)]="confirmPassword">
                            <mat-icon matSuffix>check_circle</mat-icon>
                        </mat-form-field>

                        <div class="alert" *ngIf = "comfPassword.touched && confirmPassword != model.password" > Password doesn´t match </div>

                        <div id="register" class="relative">

                            <button id="register-button" type="submit" [disabled]="!registerForm.form.valid"
                            class="py-2 px-8 font-semibold  transition ease-in duration-200 transform hover:-translate-y-1 active:translate-y-0">
                             Create 
                            </button>

                        </div>

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>